<div class="content">
  <div class="city-card">
      <mat-card class="example-card" *ngIf="city$ | async as city">
      <mat-card-title *ngFor="let weather of city.weather">
          {{weather.description}}
          <img src="{{ weather.main | weatherDescription }}" height="180px" alt="weather Descirption">
          <mat-card-subtitle>
              {{city.name}}, {{city.sys.country}} <span class="material-icons">location_on</span>
          </mat-card-subtitle>
      </mat-card-title>
          <mat-card-content>
            <div class="humidity">
                <h4>Humidity</h4>
                <h2>{{city.main.humidity}}%</h2>
            </div>
            <div class="temperature">
              <h4>Temperature</h4>
              <div class="min-max-temp">
              <h2 class="max-temp">{{city.main.temp_max | kelvinToCelsius}}° / </h2>
              <h2 class="min-temp">{{city.main.temp_min | kelvinToCelsius}}°</h2>
            </div>
            </div>
            <div class="wind">
              <h4>Wind</h4>
              <h2>{{city.wind.speed}} Mph</h2>
            </div>
          </mat-card-content>

        

        </mat-card>
  </div>




</div>